body {
	margin: 0;
	background: url(images/background.gif) 50% 0 repeat;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5em;
}

a {
	color: inherit;
}

h1 {
	font-weight: inherit;
	font-size: 48px;
	line-height: 1em;
}

.hidden {
	opacity: 0 !important;
	filter: alpha(opacity=30) !important;
}

header {
	width: 100%;
	min-height: 1000px;
	margin: auto;
	position: absolute;
}

header > * {
	width: 512px;
	position: absolute;
	top: 35%;
	left: 50%;
	margin-left: -256px;
	z-index: 2;
}

#name {
	background-image: url(images/name.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 128px;
	margin-top: -160px;
	opacity: .3;
	filter: alpha(opacity=30); /* For IE8 and earlier */
}

#tiles {
	height: 128px;
	margin-top: 32px;
	z-index: 3;
}

.tile {
	display: block;
	width: 25%;
	height: 100%;
	display: block;
	margin: 0;
	position: absolute;
	top: 0;
	cursor: pointer;
	overflow: hidden;
}

.activated {
	width: 100%;
}

.tile, .tile * {
	        transition: all .4s, z-index 0s;
	-webkit-transition: all .4s, z-index 0s;
}

.tile * {
	position: absolute;
	top: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

#tile_1 {
	background-color: #66cc66;
	left: 0;
}

#bracket_1, #bracket_2 {
	width: 50%;
}

.activated #bracket_1, .activated #bracket_2 {
	opacity: .5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

#bracket_1 {
	background-image: url(images/bracket_1.svg);
	left: 0;
}

#bracket_2 {
	background-image: url(images/bracket_2.svg);
	background-position: right;
	right: 0;
}

#code_text {
	background-image: url(images/code_text.svg);
	background-position: center;
	width: 0;
	left: 50%;
	opacity: 0;
	filter: alpha(opacity=0); /* For IE8 and earlier */
}

.activated #code_text {
	left: 12.5%;
	width: 75%;
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

#tile_2 {
	background-color: #ff6666;
	left: 37.5%;
}

#tile_2.activated {
	left: 0;
}

#www {
	background-image: url(images/www.svg);
	width: 100%;
	left: 0;
}

.activated #www {
	opacity: .25;
	filter: alpha(opacity=25); /* For IE8 and earlier */
	left: 1.5625%;
}

#web_text {
	background-image: url(images/web_text.svg);
	width: 100%;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0); /* For IE8 and earlier */
}

.activated #web_text {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
	left: 1.5625%;
}

#tile_3 {
	background-color: #3366cc;
	right: 0;
}

#brush {
	background-image: url(images/brush.svg);
	width: 100%;
	left: 0;
}

.activated #brush {
	left: 9.375%;
	opacity: .75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
}

#art_text {
	background-image: url(images/art_text.svg);
	background-position: right;
	left: 0;
	width: 0;
	opacity: 0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}

.activated #art_text {
	width: 100%;
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

#arrows {
	height: 128px;
	opacity: 0;
	filter: alpha(opacity=0); /* For IE8 and earlier */
	        transition: top .4s, opacity .4s;
	-webkit-transition: top .4s, opacity .4s;
}

.portfolio #arrows {
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.arrow {
	width: 12.5%;
	height: 100%;
	position: absolute;
	top: 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
	opacity: .3;
	filter: alpha(opacity=30); /* For IE8 and earlier */
	        transition: opacity .2s;
	-webkit-transition: opacity .2s;
}

.arrow:hover {
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

#arrow_1 {
	left: -12.5%;
	background-image: url(images/arrow_1.svg);
}

#arrow_2 {
	right: -12.5%;
	background-image: url(images/arrow_2.svg);
}

#navigation {
	margin-top: 256px;
	list-style-type: none;
	padding: 0;
	text-align: center;
	font-size: 28px;
}

#navigation a {
	display: inline-block;
	margin: 0 20px;
	text-decoration: none;
	opacity: .7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
	        transition: opacity .2s;
	-webkit-transition: opacity .2s;
}

#navigation a:hover {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.portfolio #navigation a {
	opacity: 0;
	filter: alpha(opacity=0); /* For IE8 and earlier */
	z-index: -1;
}

#name, #navigation, #tiles {
	        transition: opacity 1.5s, top .4s;
	-webkit-transition: opacity 1.5s, top .4s;
}

.portfolio #navigation {
	top: 100%;
}

.portfolio #name, .portfolio #tiles, .portfolio #arrows {
	top: 0;
}


@viewport{
    zoom: 1.0;
    width: device-width;
}

@media (max-width: 512px) {
	body {
		font-size: 16px;
	}
	
	#navigation {
		font-size: 20px;
	}
	
	#navigation a {
		margin: 0 14px;
	}
}